<template>
  <q-page class="q-pa-md">

    <q-card>
      <q-card-section class="bg-primary text-white">
        <div class="row items-center justify-center">
          <q-input class="col-10 q-pr-md" outlined v-model="title" bg-color="white" label-color="black" label="Title" />
          <q-btn class="col-1" unelevated color="white" text-color="black" label="Save" @click="saveArticle" />
          <q-toggle class="col-1" v-model="publish" color="yellow" label="Publish" />
        </div>
      </q-card-section>
    </q-card>

    <q-card class="q-mt-md">
      <q-card-section class="row">
        <q-btn flat icon="format_bold" @click="editor.chain().focus().toggleBold().run()" />
        <q-btn flat icon="format_italic" @click="editor.chain().focus().toggleItalic().run()" />
        <q-btn flat icon="strikethrough_s" @click="editor.chain().focus().toggleStrike().run()" />
        <q-btn flat icon="code" @click="editor.chain().focus().toggleCodeBlock().run()" />
        <q-btn flat icon="format_clear" @click="editor.chain().focus().unsetAllMarks().run()" />
        <q-btn flat label="P" @click="editor.chain().focus().setParagraph().run()" />
        <q-btn flat label="H1" @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" />
        <q-btn flat label="H2" @click="editor.chain().focus().toggleHeading({ level: 2 }).run()" />
        <q-btn flat label="H3" @click="editor.chain().focus().toggleHeading({ level: 3 }).run()" />
        <q-btn flat icon="list" @click="editor.chain().focus().toggleBulletList().run()" />
        <q-btn flat icon="format_list_numbered" @click="editor.chain().focus().toggleOrderedList().run()" />
        <q-btn flat icon="format_quote" @click="editor.chain().focus().toggleBlockquote().run()" />
        <q-btn flat icon="horizontal_rule" @click="editor.chain().focus().setHorizontalRule().run()" />
        <q-btn flat icon="undo" @click="editor.chain().focus().undo().run()" />
        <q-btn flat icon="redo" @click="editor.chain().focus().redo().run()" />
        <ImagePicker @submitImage="addImage" />
      </q-card-section>

      <q-separator />

      <q-card-section>
        <EditorContent :editor="editor" />
      </q-card-section>
    </q-card>

    <q-card class="q-mt-md">
      <q-card-section>
        <q-input v-model="tags" label="Tags" />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent, onBeforeMount, ref, computed } from 'vue'
import { useRouter } from 'vue-router'

// EDITOR
import { useEditor, EditorContent } from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import Image from '@tiptap/extension-image'

// COMPONENTS
import ImagePicker from 'components/ImagePicker.vue'

// STORES
import { useArticleStore } from 'stores/articleStore'
import { useUserStore } from 'stores/userStore'
import { useQuasar } from "quasar";

export default defineComponent({
  name: 'EditorPage',
  components: {
    EditorContent,
    ImagePicker
  },

  setup() {
    const title = ref('');
    const tags = ref('');
    const publish = ref(false);

    const $q = useQuasar();
    const router = useRouter();
    const articleStore = useArticleStore();

    const editor = useEditor({
      content: '',
      extensions: [
        StarterKit,
        Image,
      ],
    })

    const showContent = () => {
      console.log(editor.value.getHTML())
    }

    const addImage = (url) => {
      if (url) {
        editor.value.chain().focus().setImage({ src: url }).run()
      }
    }

    const saveArticle = () => {
      articleStore.title = title.value;
      articleStore.tags = tags.value.split(" ");
      articleStore.content = editor.value.getHTML();
      articleStore.publish = publish.value;
      articleStore.update()
        .then(() => {
          $q.notify({
            type: 'positive',
            message: 'Data saved successfully'
          })
        })
        .catch((error) => {
          console.log(error);
          $q.notify({
            type: 'negative',
            message: 'Error: Something wrong happened'
          })
        })
    }

    // Load Article
    onBeforeMount(() => {
      if (articleStore.uuid !== undefined && articleStore.uuid !== "") {
        articleStore.load().then(() => {
          console.log("Load finished here")
          title.value = articleStore.title
          publish.value = articleStore.publish;
          tags.value = articleStore.tags.join(" ");
          editor.value.commands.setContent(articleStore.content);
        })
      }
    })

    return { editor, showContent, addImage, title, publish, tags, articleStore, saveArticle }
  },
});
</script>

<style lang="scss">
.ProseMirror {
  >*+* {
    margin-top: 0.75em;
  }

  img {
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }
  }


  .is-active {
    color: blue
  }
}
</style>
