<template>
  <div>
    <q-btn flat icon="image" color="primary" @click="dialog = true" />
    <q-dialog v-model="dialog">
      <q-card>
        <q-card-section>
          <q-input v-model="imageURL" label="By URL" />
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-file v-model="file" label="By File" rounded outlined clearable>
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-file>

        </q-card-section>

        <q-separator />

        <q-card-section class="column">
          <q-btn color="primary" label="Insert" @click="returnImageUrl" />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { api } from "src/boot/axios";
import { useUserStore } from "src/stores/userStore";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "ImagePicker",
  setup(props, { emit }) {
    const imageURL = ref("");
    const dialog = ref(false);
    const file = ref(null);

    const $q = useQuasar();
    const userStore = useUserStore();

    const returnImageUrl = () => {
      if (imageURL.value.length > 0)
        sendEvent();
      else if (file.value != null) {
        uploadImage();
      }
      else
        $q.notify({
          type: 'negative',
          message: 'URL must be provided or image selected'
        })
    }

    const sendEvent = () => {
      emit("submitImage", imageURL.value)
      dialog.value = false;
    }

    const uploadImage = async () => {
      $q.notify({
        type: 'info',
        message: 'Upload started. Please wait...'
      })

      const formData = new FormData();
      formData.set("file", file.value);

      api.post("/api/v1/resources", formData, {
        headers: {
          Authorization: userStore.getBearerToken
        }
      }).then((response) => {
        $q.notify({
          type: 'positive',
          message: 'Upload completed successfully'
        })
        console.log(response.data);
        imageURL.value = `http://localhost:8080/api/v1/resources/download/${response.data.objectKey}`;
        sendEvent();
      }).catch((response) => {
        console.log(response);
        $q.notify({
          type: 'negative',
          message: 'Error. Something wrong happened.'
        })
      }).finally(() => {
        dialog.value = false;
      });
    }

    return { dialog, imageURL, file, returnImageUrl };
  },
});
</script>
