<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="leftDrawerOpen = !leftDrawerOpen" />
        <q-toolbar-title @click="goToAdmin">
          <q-avatar square icon="settings" />
          Admin
        </q-toolbar-title>
        <q-space />
        <q-btn class="q-mr-sm" color="white" text-color="black" icon="home" label="Home" @click="goToHome" />
        <q-btn color="white" text-color="black" icon="logout" label="Logout" @click="logOut" />
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" elevated>
      <q-list>
        <q-item clickable rel="noopener" @click="goToNewEditor">
          <q-item-section avatar>
            <q-icon name="edit_note" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Editor</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable rel="noopener" @click="activeComponent = 'PageComponent'">
          <q-item-section avatar>
            <q-icon name="article" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Pagini</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable rel="noopener" @click="activeComponent = 'SettingsComponent'">
          <q-item-section avatar>
            <q-icon name="settings" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
          </q-item-section>
        </q-item>
        <!-- <q-item v-if="getAdminStatus" clickable rel="noopener" @click="activeComponent = 'UserComponent'">
          <q-item-section avatar>
            <q-icon name="account_circle" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Users</q-item-label>
          </q-item-section>
        </q-item> -->
      </q-list>
    </q-drawer>

    <q-page-container>
      <q-page class="fit row wrap justify-center items-start content-start q-mt-md">
        <component :is="activeComponent" />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, onBeforeMount, ref, computed } from 'vue'
import { useUserStore } from '/src/stores/userStore'
import { useArticleStore } from 'src/stores/articleStore'
import { useRouter } from 'vue-router'

import PageComponent from '/src/components/admin/PageComponent.vue'
import SettingsComponent from '/src/components/admin/SettingsComponent.vue'
// import UserComponent from '/src/components/admin/UserComponent.vue'

export default defineComponent({
  name: 'AdminLayout',
  components: {
    PageComponent,
    SettingsComponent,
  },
  setup() {
    const router = useRouter();
    const userStore = useUserStore();
    const articleStore = useArticleStore();

    const leftDrawerOpen = ref(false);
    const activeComponent = ref('PageComponent')

    const getAdminStatus = () => {
      if (userStore.data == undefined)
        return false;
      return userStore.data.roles.includes("ADMIN")
    }

    const goToNewEditor = () => {
      articleStore.newArticle();
      router.push({ path: "/editor" })
    }

    const goToAdmin = () => {
      router.push({ path: "/admin" })
    }

    const goToHome = () => {
      router.push({ path: "/" })
    }

    const logOut = () => {
      userStore.logOut();
      goToHome();
    }

    onBeforeMount(() => {
      if (!userStore.getLoggenIn) {
        goToHome();
      }
    })

    return {
      leftDrawerOpen,
      activeComponent,
      goToHome,
      goToAdmin,
      goToNewEditor,
      logOut,
      getAdminStatus,
    }
  }
})
</script>
