<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title @click="goToAdmin">
          <q-avatar square icon="settings" />
          Admin
        </q-toolbar-title>
        <q-space />
        <q-btn class="q-mr-sm" color="white" text-color="black" icon="home" label="Home" @click="goToHome" />
        <q-btn color="white" text-color="black" icon="logout" label="Logout" @click="logOut" />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, onBeforeMount } from 'vue'
import { useUserStore } from '/src/stores/userStore'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'EditorLayout',
  setup() {
    const router = useRouter();
    const userStore = useUserStore();

    const goToAdmin = () => {
      router.push({ path: "/admin" })
    }

    const goToHome = () => {
      router.push({ path: "/" })
    }

    const logOut = () => {
      userStore.logOut();
      goToHome();
    }

    onBeforeMount(() => {
      if (!userStore.isLoggenIn)
        goToHome();
    })

    return {
      goToAdmin,
      goToHome,
      logOut
    }
  }
})
</script>
