<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title @click="goToHome">
          <q-avatar square icon="fa fa-blog" />
          Blog
        </q-toolbar-title>

        <q-input v-if="isOnFrontPage" dark dense standout class="text-white" v-model="searchText" placeholder="Search"
          v-on:keyup.enter="onSearch">
          <template v-slot:prepend>
            <q-icon v-if="searchText === ''" name="search" />
            <q-icon v-else name="clear" class="cursor-pointer" @click="searchText = ''" />
          </template>
        </q-input>

        <q-space />

        <q-btn color="white" text-color="black" icon="lock" label="Login" @click="goToLogin" />
      </q-toolbar>

    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { useSearchStore } from 'src/stores/searchStore';
import { defineComponent, ref, computed } from 'vue'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'PublicLayout',

  setup() {
    const router = useRouter();
    const searchText = ref('');
    const searchStore = useSearchStore();

    const isOnFrontPage = computed(() => {
      return router.currentRoute.value.fullPath === '/'
    })

    const goToLogin = () => {
      router.push({ path: "/login" })
    }

    const goToHome = () => {
      router.push({ path: "/" })
    }

    const onSearch = () => {
      searchStore.fetchPosts(searchText.value);
    }

    return {
      searchText,
      goToLogin,
      goToHome,
      onSearch,
      isOnFrontPage
    }
  }
})
</script>
