<template>
  <q-page class="full-width column inline no-wrap items-center content-start q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">
          {{ content.title }}
        </div>
        <div class="text-subtitle">
          {{ content.date }}
        </div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="html-content" v-html="content.content"></div>
      </q-card-section>
      <q-card-section class="row">
        <q-chip outline disabled color="primary" text-color="white" v-for="tag in content.tags" :key="tag">
          {{ tag }}
        </q-chip>
      </q-card-section>
    </q-card>
    <div class="my-card">
      <div v-for="author in content.authors" :key="author.uuid">
        <q-card class="q-mt-md">
          <q-card-section>
            <div class="text-h6">{{ author.username }} - {{ author.name }}</div>
            <div class="html-content">{{ author.about }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, onBeforeMount, ref } from 'vue'
import { useRouter } from 'vue-router'
import { api } from 'src/boot/axios'

export default defineComponent({
  name: 'ArticlePage',
  setup() {
    const router = useRouter();
    const content = ref({})

    const fetchContent = (uuid) => {
      api.get(`/api/v1/page/${uuid}`)
        .then((response) => {
          content.value = response.data;
        }).catch((error) => {
          console.log(error)
          router.push({ path: "/blog" })
        })
    }

    onBeforeMount(() => {
      let uuid = router.currentRoute.value.params.uuid;
      fetchContent(uuid);
    })

    return {
      content
    }
  }
})
</script>

<style scoped>
.html-content>>>img {
  width: 100%;
}

.my-card {
  width: 60%;
}
</style>
