<template>
  <q-page class="row justify-center">
    <div class="q-pa-md posts">
      <q-list>
        <div v-for="post in searchStore.data" :key="post.uuid">
          <q-item clickable v-ripple @click="openArticle(post.uuid)">
            <q-item-section>
              <q-item-label overline class="row">
                <q-chip outline disabled color="primary" text-color="white" v-for="tag in post.tags" :key="tag">
                  {{ tag }}
                </q-chip>
              </q-item-label>
              <q-item-label class="text-h6 q-px-md">
                {{ post.title }}
              </q-item-label>
            </q-item-section>

            <q-item-section side top>
              <q-item-label caption>{{ post.date }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator spaced inset />
        </div>
      </q-list>
    </div>

  </q-page>
</template>

<script>
import { useSearchStore } from 'src/stores/searchStore';
import { defineComponent, onBeforeMount, ref, computed } from 'vue'
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'BlogPage',
  setup() {
    const posts = ref();
    const router = useRouter();
    const searchStore = useSearchStore();

    const openArticle = (uuid) => {
      router.push({ path: `/blog/${uuid}` })
    }

    onBeforeMount(() => {
      searchStore.fetchPosts('');
    })

    return {
      searchStore,
      posts,
      openArticle
    }
  }
})
</script>

<style scoped>
.posts {
  width: 90%;
}

.display-tag,
span {
  display: inline;
}
</style>
