<template>
  <div>
    <q-table title="Pages" :rows="rows" :columns="columns" row-key="uuid" :filter="filter">
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn dense round flat color="grey" icon="edit" @click="editRow(props)" />
          <q-btn dense round flat color="grey" icon="delete" @click="deleteRow(props)" />
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import { api } from "src/boot/axios";
import { useUserStore } from "src/stores/userStore";
import { useArticleStore } from "src/stores/articleStore";
import { defineComponent, ref, onBeforeMount } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "PageComponent",
  setup() {
    const rows = ref([])
    const filter = ref('')
    const router = useRouter();
    const userStore = useUserStore();
    const articleStore = useArticleStore();

    const goToEditor = () => {
      router.push({ path: "/editor" })
    }

    const editRow = (props) => {
      articleStore.newArticle();
      articleStore.uuid = props.row.uuid;
      goToEditor();
      // articleStore.load().then(() => {
      //   goToEditor();
      // })
    }

    const deleteRow = (props) => {
      api.delete(`/api/v1/page/${props.row.uuid}`, {
        headers: {
          Authorization: userStore.getBearerToken
        }
      }).then(() => {
        rows.value = rows.value.filter(x => x.uuid != props.row.uuid)
      }).catch((error) => {
        console.log(error)
      })
    }

    onBeforeMount(() => {
      api.get('/api/v1/page')
        .then((response) => {
          rows.value = response.data.filter(x => x.authors.some(u => u.username == userStore.data.username));
        })
        .catch((error) => console.log(error))
    });

    return {
      columns,
      rows,
      filter,
      editRow,
      deleteRow
    }
  }
})

const columns = [
  {
    name: 'title',
    required: true,
    label: 'Title',
    align: 'left',
    field: 'title',
    sortable: true
  },
  {
    name: 'date',
    required: true,
    label: 'Date',
    align: 'left',
    field: 'date',
    sortable: true
  },
  {
    name: 'tags',
    required: true,
    label: 'Tags',
    align: 'left',
    field: 'tags',
    format: val => `${val.join(", ")}`,
    sortable: true
  },
  {
    name: 'publish',
    required: true,
    label: 'Publish',
    align: 'left',
    field: 'publish',
    format: val => `${val == true ? "✅" : "❌"}`,
    sortable: true
  },
  {
    name: 'authors',
    required: true,
    label: 'Authors',
    align: 'left',
    field: 'authors',
    format: val => `${val.map(r => r.username).join(", ")}`,
    sortable: true
  },
  {
    name: 'actions',
    required: true,
    label: 'Actions',
    align: 'left',
    sortable: false
  }
]
</script>
