<template>
  <q-card class="my-card q-mb-md">

    <q-card-section>
      <div class="text-h6">User Info</div>
    </q-card-section>

    <q-separator />

    <q-card-section class="q-pa-md">
      <q-input outlined v-model="username" label="UserName" disable />
      <q-input class="q-mt-md" outlined v-model="fullname" label="FullName" />
      <q-input class="q-mt-md" outlined v-model="about" filled type="textarea" label="FullName" />
      <q-input class="q-mt-md" outlined v-model="currentPassword" type="password" label="Current Password" />
    </q-card-section>

    <q-card-section>
      <q-btn flat @click="updateUserData">Save</q-btn>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="text-h6">User Info</div>
    </q-card-section>

    <q-card-section>
      <q-input outlined v-model="currentPassword" type="password" label="Current Password" />
      <q-input class="q-mt-md" outlined v-model="newPassword" type="password" label="New Password" />
    </q-card-section>

    <q-card-section>
      <q-btn flat @click="updatePassword">Change</q-btn>
    </q-card-section>
  </q-card>
</template>

<script>
import { useUserStore } from "src/stores/userStore";
import { defineComponent, ref, onBeforeMount } from "vue";
import { useQuasar } from "quasar";
import { api } from "src/boot/axios";

export default defineComponent({
  name: "SettingsComponent",
  setup() {
    const username = ref('')
    const fullname = ref('')
    const about = ref('')
    const currentPassword = ref('')
    const newPassword = ref('')

    const $q = useQuasar();
    const userStore = useUserStore();

    const updateUserData = () => {
      if (currentPassword.value.length < 3)
        $q.notify({
          type: 'info',
          message: 'Password Required'
        })
      else
        api.post(`/api/v1/authors`, {
          id: userStore.data.uuid,
          username: userStore.data.username,
          password: currentPassword.value,
          name: fullname.value,
          about: about.value,
          roles: userStore.data.roles
        },
          {
            headers: {
              Authorization: userStore.getBearerToken
            }
          }).then(() => {
            $q.notify({
              type: 'positive',
              message: 'User Info changed with success'
            })
          }).catch((error) => {
            console.log(error)
            $q.notify({
              type: 'negative',
              message: 'Error: Saving Data has encountered a problem'
            })
          })
    }

    const updatePassword = () => {
      api.post(`/api/v1/authors/password`, {
        id: userStore.data.uuid,
        password: currentPassword.value,
        new_password: newPassword.value
      },
        {
          headers: {
            Authorization: userStore.getBearerToken
          }
        }).then(() => {
          $q.notify({
            type: 'positive',
            message: 'Password changed with success'
          })
        }).catch((error) => {
          console.log(error)
          $q.notify({
            type: 'negative',
            message: 'Error: Password is incorrect'
          })
        })
    }

    onBeforeMount(() => {
      username.value = userStore.data.username;
      fullname.value = userStore.data.name;
      about.value = userStore.data.about;
    })

    return {
      username,
      fullname,
      about,
      currentPassword,
      newPassword,
      updateUserData,
      updatePassword
    }
  }
})
</script>

<style scoped>
.my-card {
  width: 45rem;
}
</style>
