<template>
  <q-page class="bg-light-blue window-height window-width row justify-center items-center">
    <div class="column">
      <div class="row">
        <h4 class="text-white q-my-md">Admin Login</h4>
      </div>
      <div class="row">
        <q-card flat bordered class="q-pa-lg">
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input outlined v-model="form.username" type="username" label="username" :rules="userRules" lazy-rules
                ref="ref_user" />
              <q-input outlined v-model="form.password" type="password" label="password" :rules="passRules" lazy-rules
                ref="ref_pass" />
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn unelevated color="light-blue-5" size="lg" class="full-width" label="Login" type="submit"
              @click="onSubmit()" />
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useUserStore } from 'stores/userStore'
import { useQuasar } from "quasar";
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'LoginPage',
  setup() {
    const $q = useQuasar();
    const router = useRouter();

    const form = ref({
      username: "",
      password: ""
    })

    const ref_user = ref(null);
    const ref_pass = ref(null);

    const userRules = [
      val => (val && val.length > 0) || 'Username Required',
      val => (val.length >= 3) || 'Username with at last 3 characters'
    ];
    const passRules = [
      val => (val && val.length > 0) || 'Password Required',
      val => (val.length >= 3) || 'Password with at last 3 characters'
    ];

    const userStore = useUserStore();

    const onSubmit = () => {
      if (ref_user.value.validate() && ref_pass.value.validate()) {
        userStore.logIn(form.value.username, form.value.password).then(() => {
          if (userStore.isLoggenIn)
            userStore.getUserData(form.value.username).then(() => {
              router.push({ path: "/admin" })
            })
          else
            $q.notify({
              type: 'negative',
              message: 'Username or password incorect'
            })
        });
      } else
        $q.notify({
          type: 'negative',
          message: 'Username or password invalide'
        })
    };

    return {
      form,
      ref_user,
      ref_pass,
      userRules,
      passRules,
      onSubmit
    }
  }
})
</script>

<style scoped>
.q-card {
  width: 400px
}
</style>
